body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #252323;
  color: #bdc3c7;
}

.app {
  text-align: center;
}

.navbar {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.navbar a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 10px;
}

.navbar a:hover {
  color: #353739;
}

.navbar a.active {
  background-color: #353739;
  color: #fff;
  border: 2px solid #fff;
}


.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 3s;
}

.intro_content {
  max-width: 800px;
}


.intro_content h2 {
  font-size: 5rem;
  color: #ecf0f1; 
}

.intro_content p{
  font-size: 2rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  height: 80vh;
}

.about_content h1{
  font-size: 3rem;
}

.about_paragraph_container {
  text-align: left;
  width: 75%;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about_paragraph {
  font-size: 1.4rem;
  line-height: 50px;  
}

.about_paragraph_2 {
  font-size: 1.4rem;
  line-height: 40px;  
}

.about_paragraph_3 {
  font-size: 1.4rem;
  line-height: 40px;  
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.skills_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0rem;
  height: 100vh;
}

.skills_content h1{
  font-size: 3rem;
}

.skills_container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills_1, .skills_2 {
  text-align: left;
  margin: 0px 100px;
}

.skills_container ol {
  list-style-type: none;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;

}

.skills_container ol li::before {
  content: "\2022";
  color: #3498db; 
  display: inline-block;
  line-height: 3rem;
  width: 1em;
  margin-right: 0.5em;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.experience_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0rem;
  height: 100vh;
}

.experience_content h1{
  font-size: 3rem;
}

.experience_container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.exp_1 {
  text-align: left;
  margin: 0px 100px;  
}

.exp_1 h2,h3{
  margin: 15px;
}

.exp_1 ol {
  list-style-type: none;
  font-size: 1.4rem;
}

.exp_1 ol li::before {
  content: "\2022";
  color: #3498db; 
  padding-left: -1.8rem;
  line-height: 3rem;
  width: 1em;
  margin-right: 0.5em;
}


.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

.project_content{
  padding-top: 5rem;
}

.project_content h2{
  font-size: 3rem;
  margin-bottom: 3rem;
}

.project_cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75%;
  margin: auto;

}

.project_card {
  background-color: #d2d6dd;
  color: #202121;
  border-radius: 30px;
  padding: 15px;
  margin: 25px 20px;
  width: 300px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}
.project_card img{
  width: 250px;
  border-radius: 30px;
  opacity: 1;
}

.movie_website_link{
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}


.github_link:hover{
  transform: scale(1.2);
}


.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin-top: -0.8rem;
  margin-right: 0.5rem;
  font-weight: 600;
}

.status-active {
  width: 10px;
  height: 10px;
  background-color: #0cb954;
  border-radius: 50%;
  margin-right: 5px;
  animation: blink 1s infinite alternate;
}

.status-complete {
  scale: 0.5;
  width: 10px;
  height: 10px;
  background-color: #9d2e2e;
  border-radius: 50%;
  margin-right: 5px;
}

.project_card:hover {
  transform: scale(1.1);
}


.contact {
  height: 20vh;
  padding: 20px;
  margin-bottom: 0.5rem;
}

.contact a{
  padding: 10px;
}

.Gmail_Contact:hover{
  transform: scale(1.2);
}

.Linkedin_Contact:hover{
  transform: scale(1.2);
}



#contact{
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding-bottom: 5px;
}
#contact a{
  text-decoration: none;
}
#contact img{
  padding: 5px;
}
#contact h2 {
  color: #ecf0f1;
}
#contact img:hover{
  transform: scale(1.2);
}
.fade-in {
  opacity: 1;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .navbar a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .navbar a:hover {
    color: #353739;
  }
  
  .navbar a.active {
    background-color: #353739;
    color: #fff;
    border: 2px solid #fff;
  }
  
  
  .intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 3s;
  }
  
  .intro_content {
    max-width: 800px;
  }
  
  
  .intro_content h2 {
    font-size: 5rem;
    color: #ecf0f1; 
  }
  
  .intro_content p{
    font-size: 2rem;
  }
  
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    height: 80vh;
  }
  
  .about_content h1{
    font-size: 3rem;
  }
  
  .about_paragraph_container {
    text-align: left;
    width: 75%;
    margin: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .about_paragraph {
    font-size: 1.4rem;
    line-height: 50px;  
  }
  
  .about_paragraph_2 {
    font-size: 1.4rem;
    line-height: 40px;  
  }
  
  .about_paragraph_3 {
    font-size: 1.4rem;
    line-height: 40px;  
  }
  
  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-direction: column;
  }
  
  .skills_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0rem;
    height: 100vh;
  }
  
  .skills_content h1{
    font-size: 3rem;
  }
  
  .skills_container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .skills_1, .skills_2 {
    text-align: left;
    margin: 0px 100px;
  }
  
  .skills_container ol {
    list-style-type: none;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
  
  }
  
  .skills_container ol li::before {
    content: "\2022";
    color: #3498db; 
    display: inline-block;
    line-height: 3rem;
    width: 1em;
    margin-right: 0.5em;
  }
  .project_card {
      width: 100%;
  }

}
